body{
    background-color: rgb(89,214,255);
    margin: 0;
}

h1{
    font-family: "Montserrat", Helvetica, sans-serif;
    color: white;
    font-size: 100px;
    margin: 0;
}

h2{
    font-family: "Montserrat", Helvetica, sans-serif;
    color: white;
    font-size: 70px;
    font-weight: 200;
}

h3{
    font-family: "Montserrat", Helvetica, sans-serif;
    color: black;
    font-size: 25px;
    font-weight: 100;
}

p{
    font-family: "Montserrat", Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    font-weight: 100;
}

.videcontainer{
    position: relative;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 105vh;
}

.vidtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.vsubcontainer{
    position: absolute;
    filter: brightness(50%);
    top: 0;
    left: 0;
    z-index: -1;
    width:100%;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: white;
}

.headerimg{
    width: 10%;
    padding: 1%;
}

.basicinfo{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
    width: 100%;
    height: 100%;
}

.subbasicinfo{
    background-color: white;
    width: 70%;
    border-style: solid;
    border-color:rgb(177, 236, 255);
}

.basicinfovidcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.basicinfovidsubcontainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    flex-wrap: wrap;
}

.basicinfovid{
    width: 40%;
    height: 44%;
}

button{
    border: 0;
    padding: 1%;
    cursor:pointer;
}

button::after{
    border: 0;
    padding: 1%;
    cursor:pointer;
}

.mainpagebutton{
    background-color: rgb(9, 114, 150);
    font-family: "Montserrat", Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    margin-bottom: 2%;
    border-radius: 20px;
}

.musicinfo{
    background-color: rgb(255, 175, 175);
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 2%;
    border-style:dashed;
    border-color:white;
}

.musicvidcontainer{
    width: 100%;
    height: 117vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.musicvid{
    width: 45%;
    height: 45%;
}

.animeinfo{
    background-color: rgb(219, 163, 241);
    width: 100%;
    text-align: center;
    align-items: center;
    padding-bottom: 2%;
    border-style:dashed;
    border-color:white;
}

.animevidcontainer{
    width: 100%;
    height: 117vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.animevid{
    width: 45%;
    height: 45%;
}

#scroll_to_top{
    display:none;
    position:fixed;
    bottom:15px;
    right:15px;
    z-index:99;
    font-size:14px;
    border:none;
    outline:none;
    background-color:rgb(0, 191, 255);
    color:white;
    cursor:pointer;
    padding:15px;
    border-radius:4px;
}

#scroll_to_top:hover{
    background-color:rgb(177, 236, 255);
}

.talent_pic{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

.talent_pic2{
    display:flex;
    flex-wrap:wrap;
    margin: 20px;
    justify-content: space-around;
}

.talentp{
    display:flex;
    flex-direction: column;
    font-family: "Montserrat", Helvetica, sans-serif;
    letter-spacing:1px;
    color:white;
    font-size:22px;
    justify-content:center;
}

.about{
    padding:8px;
    background-color:#95baff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-style:dashed;
    border-color:white;
    width:98.95%;
}

.abouth1{
    display:flex;
    font-family: "Montserrat", Helvetica, sans-serif;
    color:white;
    /*font-size:37px;*/
    font-size: 70px;
    font-weight: 200;
    justify-content:center;
}

.abouth2{
    display:flex;
    font-family: "Montserrat", Helvetica, sans-serif;
    color:white;
    /*font-size:37px;*/
    font-size: 50px;
    font-weight: 200;
    justify-content:center;
}

.aboutp{
    display:flex;
    font-family: "Montserrat", Helvetica, sans-serif;
    letter-spacing:1px;
    color:rgb(69, 69, 69);
    font-size:22px;
    justify-content:center;
    padding-left: 20px;
}

.bg-modal-robocco {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-tokinosora {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-sakuramiko {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-suisei {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-mel {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-fubuki {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-matsuri {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-aki {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-haato {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-chris {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-azki {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Maqua {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Mshion {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Nayame {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Ychoco {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Osubaru {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Upekora {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Urushia {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Hmarine {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Sflare {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Snoel {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-kanata {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-coco {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-watame {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-towa {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-luna {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Ylamy {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Mnene {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Sbotan {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Opolka {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Maloe {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Omio {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Nokayu {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Ikorone {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Hmiyabi {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Kizuru {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-aruran {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-rikka {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Ysuzaku {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-Kkira {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.bg-modal-astel {
    width:100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    justify-content:center;
    align-items: center;
    display:none;
}

.modal-content {
    width:80%;
    height:85%;
    background-color: white;
    border-radius:4px;
    /*text-align:center;*/
    padding:20px;
    position:relative;
    border-radius: 4vh;
    display: flex;
    justify-content: space-between;
}

.column-left {
    float:left;
    width:20%;
    height: 100%;
    padding:2%
}

.column-right {
    float:left;
    width:75%;
    height: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*Cross to close popip*/
.closepop-astel {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Kkira {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Ysuzaku {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-rikka {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-aruran {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Kizuru {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Hmiyabi {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Ikorone {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Nokayu {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Omio {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Maloe {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Opolka {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Sbotan {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Mnene {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Ylamy {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Snoel {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Sflare {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Hmarine {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Urushia {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Upekora {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Osubaru {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Ychoco {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Nayame {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Mshion {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-robocco {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-suisei {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-tokinosora {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-sakuramiko {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-mel {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-fubuki {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-matsuri {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-aki {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-haato {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-chris {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-azki {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-Maqua {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-kanata {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-coco {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-watame {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-luna {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.closepop-towa {
    position:absolute;
    top: 0;
    right:14px;
    font-size:49px;
    font-weight:40px;
    transform: rotate(45deg);
    cursor:pointer;
}

.inforow{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.infotopleft{
    height: 50%;
    width: 40%;
}

.infotopright{
    width: 60%;
    height: 48%;
}

.socialbar{
    position: fixed;
    top:80%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
}
.socialbar a{
    display:block;
    text-align:center;
    transition: all 0.3s ease;
    color:white;
    font-size:20px;
    height: 30%;
}
/*Hovering functionality*/
.socialbar a:hover {
    background-color:white;
    color:rgb(89, 214, 255);
}

.twitter{
    background:#55ACEE;
    color:white;
    padding-top: 5%;
    padding-bottom: 5%;
}

.youtube{
    background:#BB0000;
    color:white;
    padding-top: 5%;
    padding-bottom: 5%;
}